.grid-item {
  min-height: 100px;
  border-radius: 6px;
  margin-bottom: 5px;
  padding: 5px;

  &:nth-child(4n) {
    background-color: #d1e1f6;
  }

  &:nth-child(4n + 1) {
    background-color: #e6edf6;
  }

  &:nth-child(4n + 2) {
    background-color: #2f4785;
    color: white;
  }

  &:nth-child(4n + 3) {
    background-color: #0b1e4f;
    color: white;
  }
}
