<h4>Basic Component</h4>

<div class="basic-component">
   <div class="grid-item">Grid Item 1</div>
   <div class="grid-item">Grid Item 2</div>
   <div class="grid-item">Grid Item 3</div>
   <div class="grid-item">Grid Item 4</div>
</div>
