<h4>Basic Grid Inline</h4>
<p class="code">display: inline-grid</p>

<div class="basic-component basic-grid-inline">
   <div class="grid-item">Grid Item 1</div>
   <div class="grid-item">Grid Item 2</div>
   <div class="grid-item">Grid Item 3</div>
   <div class="grid-item">Grid Item 4</div>
</div>


