<h4>Basic Grid, Grid Template Columns (Implicit Grid)</h4>

<p class="code">display: grid</p>
<p class="code">grid-template-columns: 100px 100px 200px 200px</p>

<div class="basic-component grid-template-columns pixels">
	<div class="grid-item">Grid Item 1</div>
	<div class="grid-item">Grid Item 2</div>
	<div class="grid-item">Grid Item 3</div>
	<div class="grid-item">Grid Item 4</div>
</div>

<h4>Basic Grid, Grid Template Columns (Implicit Grid)</h4>

<p class="code">display: grid</p>
<p class="code">grid-template-columns: 1fr 1fr 1fr</p>

<div class="basic-component grid-template-columns fr">
	<div class="grid-item">Grid Item 1</div>
	<div class="grid-item">Grid Item 2</div>
	<div class="grid-item">Grid Item 3</div>
	<div class="grid-item">Grid Item 4</div>
</div>

<h4>Basic Grid, Grid Template Columns (Implicit Grid)</h4>

<p class="code">display: grid</p>
<p class="code">grid-template-columns: repeat(2, 1fr)</p>

<div class="basic-component grid-template-columns repeat">
	<div class="grid-item">Grid Item 1</div>
	<div class="grid-item">Grid Item 2</div>
	<div class="grid-item">Grid Item 3</div>
	<div class="grid-item">Grid Item 4</div>
</div>

<h4>Basic Grid, Grid Template Columns (Implicit Grid)</h4>

<p class="code">display: grid</p>
<p class="code">grid-template-columns: repeat(auto-fill, 200px)</p>

<div class="basic-component grid-template-columns repeat-auto-fill">
	<div class="grid-item">Grid Item 1</div>
	<div class="grid-item">Grid Item 2</div>
	<div class="grid-item">Grid Item 3</div>
	<div class="grid-item">Grid Item 4</div>
</div>

<h4>Basic Grid, Grid Template Columns (Implicit Grid)</h4>

<p class="code">display: grid</p>
<p class="code">grid-template-columns: [main-start sidebar-start] 1fr [sidebar-end content-start] 2fr [content-end main-end]</p>

<div class="basic-component grid-template-columns named-lines">
	<div class="grid-item">Grid Item 1</div>
	<div class="grid-item">Grid Item 2</div>
	<div class="grid-item">Grid Item 3</div>
	<div class="grid-item">Grid Item 4</div>
</div>




